html, body {

    width: 100%;
    height: 100%;
    background: #000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {

    width: 30%;
    height: 70%;
}

#form_container {

    width: 100%;
    height: 100%;

    background-color: #370617;
    box-shadow: 0 0 50px --20px #000;
    border-radius: 2%;
    overflow: hidden;

}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    border-image: -webkit-linear_gradient(25deg, #FFBE0B,#FB5607,#FF006E,#8338EC,#3A86FF)20;
    background: #000;

}
#form_header{
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;

    background : -webkit-linear-gradient(25deg, #FFBE0B,#FB5607,#FF006E,#8338EC,#3A86FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#form_content_inner_cotainer{
    width: 75%;
    height: 100%;

    float: left;
}

input{
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    
    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B,#FB5607,#FF006E,#8338EC,#3A86FF);
}
#button_container{
    width: 100%;
    height: 50%;
    background:#000;
    color: #FFF;
    float: left;
    margin-top: 5px;
}

#button_container button{
   width: 50%;
   height: 40px;
   float: left;

   background: transparent;
   color: inherit;

   letter-spacing: 1px;
   font-weight: 900;
   font-size: 12px;

   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;

}
